# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64

huggingface_hub==0.10.1
matplotlib-inline==0.1.6
numpy==1.23.5
pandas==1.5.3
scipy==1.10.0
tokenizers==0.11.4
tqdm==4.64.1
transformers==4.24.0
wandb==0.14.1
